

/*.login-image {*/
/*  background-color: #dc4734;*/
/*}*/

.login-form {
  display: grid;
  grid-template-areas: 'login registration btn';
}

.login {
  grid-area: login;
  background-color: #dc4734;
  padding: 15px 30px;
}

.registration {
  grid-area: registration;
  background-color: #dc4734;
  padding: 15px 30px;
}

.btn{
  grid-area: btn;
  background-color: #b8b8b8;
  padding: 15px 30px;
}

.single-field {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  color: #fff;
}

input:focus, textarea:focus {
  outline: none;
}

.field-error {
  color: black;
}
