 <div class="col-md-7">
    <div class="chat-room">
      <div  class="row">

        <div class="col-md-5 conversation" >
          <ul class="nav nav-tabs contact-list scrollbar-wrapper scrollbar-outer delete-scroll" >
            <label for="site-search">Search user to chat:</label>
            <input type="search" class="search" id="site-search" name="q"
                   aria-label="Search through site content" placeholder="Type username" [(ngModel)]="username">
            <button (click)="findUser()">Search</button>

            <app-modal (chat)="onChat($event)" [currentUser] = "user"></app-modal>
                  <mat-slide-toggle
                    class="example-margin"
                    [(ngModel)]="checkedChat"
                    [disabled]="disabled">
                    Show chat
                  </mat-slide-toggle>

              <div *ngIf="!this.userConversationExist && this.foundUser !== undefined  && this.foundUser.length !== 0 &&this.foundUser !== ' '" style="border: black solid 1px" (click)="addNewConversationBetweenTwouser()">
                <ng-container  *ngIf="this.foundUser[0].coverPicture">
                  <img src="http://localhost:4000/images/{{this.foundUser[0].coverPicture}}" alt="user"  class="profile-photo-sm pull-left"/>
                </ng-container>
                <ng-container *ngIf="!this.foundUser[0].coverPicture">
                  <img src="https://www.blexar.com/avatar.png" alt="user" class="profile-photo-sm pull-left" />
                </ng-container>
                <div class="msg-preview">
                  <h6>{{this.foundUser[0].username}}</h6>
                </div>
              </div>

            <div *ngIf="!this.userConversationExist && (this.foundUser == undefined ||this.foundUser.length === 0)">
              wrong username
            </div>
            <div *ngIf="this.userConversationExist ">
              user Conversation Exist
            </div>

            <ng-container *ngIf="!checkedChat">
              <ng-container *ngFor="let conversation of conversations">
                <app-conversations
                  (deleteConv)="deleteConversation($event)"
                  (deleteCountMessage)="soketSendMessage($event)"
                  [conversation] = "conversation"
                  [user] = "user"
                  (click)="openConversation(conversation)">
                </app-conversations>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="checkedChat">
              <ng-container *ngFor="let groupConversation of groupConversations">
                <app-group-conversation [conversation] = "groupConversation" [user] = "user" (click)="openConversation(groupConversation)"></app-group-conversation>
              </ng-container>
            </ng-container>

          </ul>
        </div>

        <ng-container *ngIf="currentOpenChat" >
          <div class="col-md-7">
              <div class="tab-content scrollbar-wrapper wrapper scrollbar-outer">
                <div class="tab-pane active" id="contact-1">
                  <div class="chat-body" >
                    <ul class="chat-message"  #myDiv>
                      <div>
                        <ng-container *ngFor="let message of listOfMessages">
                            <app-messages [message] = "message"  [own] = "message.sender._id == user._id" ></app-messages>
                        </ng-container>
                      </div>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
        </ng-container>

        <ng-container *ngIf="!currentOpenChat">
          <h3 style="text-align: center">start chating with ...</h3>
        </ng-container>

          <div class="send-message">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Type your message" [(ngModel)]="sendText" (keydown.enter)="handleSubmit()">
              <span class="input-group-btn">
                    <button class="btn btn-default" type="button"  (click)="handleSubmit()">Send</button>
                  </span>
            </div>
          </div>
        <div class="clearfix"></div>

      </div>
    </div>
 </div>
 <app-chat-users [users] = "this.currentOpenChat?.members"></app-chat-users>
