
<!--<form class="login-form" [formGroup]="form" (ngSubmit)="submit()">-->
<!--  <span *ngIf="errorRes">-->
<!--      {{errorRes}}-->
<!--  </span>-->
<!--  <div class="login">-->
<!--    <input class="single-field" type="text" formControlName="email" placeholder="email">-->
<!--    &lt;!&ndash;    form.get('username').invalid || &ndash;&gt;-->
<!--&lt;!&ndash;    <span class="field-error" *ngIf="form.get('email').touched ">&ndash;&gt;-->
<!--&lt;!&ndash;      Please enter a  email&ndash;&gt;-->
<!--&lt;!&ndash;    </span>&ndash;&gt;-->
<!--  </div>-->

<!--  <div class="registration">-->
<!--    <input class="single-field" type="password" formControlName="password" placeholder="password">-->
<!--&lt;!&ndash;    <span *ngIf="form.get('password').touched">&ndash;&gt;-->
<!--&lt;!&ndash;      Please enter password&ndash;&gt;-->
<!--&lt;!&ndash;    </span>&ndash;&gt;-->
<!--  </div>-->

<!--  <button class="btn" type="submit" [disabled]="form.invalid || form.invalid">Войти в IT</button>-->
<!--&lt;!&ndash;    <span *ngIf="formError">{{formError}}</span>&ndash;&gt;-->
<!--</form>-->
<!--<button class="btn-recover" (click)="recoverPassword()">Забыли пароль?</button>-->
