
<div class="col-md-7">
  <div class="create-post">
    <div class="row" >
      <form [formGroup]="myForm" (ngSubmit)="submit()">
        <div class="col-md-7 col-sm-7">
          <div >
<!--            <span class="form-group" *ngIf="(user$ | async) as userInfo ">-->
<!--              <img src='http://localhost:4000/images/{{userInfo.coverPicture}}' alt="" class="profile-photo-sm" />-->
<!--            </span>-->
            <input
              formControlName="post"
              id="name"
              type="text"
              class="form-control">
          </div>
        </div>
        <div class="col-md-5 col-sm-5">
          <div class="tools">
            <ul class="publishing-tools list-inline">

              <input
                formControlName="file"
                id="file"
                type="file"
                class="form-control"
                (change)="onFileChange($event)">
            </ul>
            <button class="btn btn-primary pull-right" type="submit" >Publish</button>
          </div>
        </div>
      </form>
    </div>
  </div><!-- Post Create Box End-->


  <ng-container *ngIf="(posts$ | async) as posts">
    <div class="post-content" *ngFor="let post of posts">
      <app-post [post]="post"></app-post>

    </div>
  </ng-container>
</div>

<div id="spinner-wrapper" *ngIf="loading$ | async">
  <div class="spinner"></div>
</div>
