<app-header></app-header>
<div class="container">

  <!-- Timeline
  ================================================= -->
  <div class="timeline">

    <app-timeline-header></app-timeline-header>
    <div id="page-contents">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">

          <!-- Friend List
          ================================================= -->
          <div class="friend-list">
            <div class="row" *ngIf="friends">
              <div class="col-md-6 col-sm-6" *ngFor="let friend of friends">
                <div class="friend-card">
                  <img src="http://placehold.it/1030x360" alt="profile-cover" class="img-responsive cover" />
                  <div class="card-info">
                    <img src="http://placehold.it/300x300" alt="user" class="profile-photo-lg" />
                    <div class="friend-info">
                      <a routerLink="/#" class="pull-right text-green">followings</a>
                      <h5><a routerLink="/#" class="profile-link">{{friend.username}}</a></h5>
                      <p>Student at Harvard</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <app-timeline-rightmenu></app-timeline-rightmenu>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
