<app-header></app-header>

<div class="container">

  <!-- Timeline
  ================================================= -->
  <div class="timeline">
    <app-timeline-header [info]="info"></app-timeline-header>
    <div id="page-contents " *ngIf="(user$ | async) as userInfo ">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">

          <!-- About
          ================================================= -->
          <div class="about-profile">

            <div class="about-content-block">
              <h4 class="grey"><i class="ion-ios-information-outline icon-in-title"></i>Personal Information</h4>
              <p>{{userInfo.desc }}</p>
            </div>

            <div class="about-content-block">
              <h4 class="grey"><i class="ion-ios-briefcase-outline icon-in-title"></i>Work Experiences</h4>
              <div class="organization">
                <div class="work-info">
                  <h5>Company - {{userInfo.jobs}}</h5>
                  <p> Position - {{userInfo.position}} </p>
                </div>
              </div>
            </div>

            <div class="about-content-block">
              <h4 class="grey"><i class="ion-ios-email-outline icon-in-title"></i>Email</h4>
              <div class="organization">
                <div class="work-info">
                  <h5>{{userInfo.email}}</h5>

                </div>
              </div>
            </div>

            <div class="about-content-block">
              <h4 class="grey"><i class="ion-ios-camera-outline icon-in-title"></i>birthday</h4>
              <div class="organization">
                <div class="work-info">
                  <p> <span class="text-grey">{{userInfo.day}} - {{userInfo.month}} - {{userInfo.year}}</span></p>
                </div>
              </div>
            </div>

            <div class="about-content-block">
              <h4 class="grey"><i class="ion-ios-location-outline icon-in-title"></i>Location</h4>
              <p>{{userInfo.country }}, {{userInfo.city}}</p>
            </div>

            <div class="about-content-block">
              <h4 class="grey"><i class="ion-ios-chatbubble-outline icon-in-title"></i>Language</h4>
              <ul>
                <li><a href="">Russian</a></li>
                <li><a href="">English</a></li>
              </ul>
            </div>

          </div>
        </div>
        <app-timeline-rightmenu></app-timeline-rightmenu>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
