
<h2 class="create-acc">recover password</h2>
<form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
  <span *ngIf="errorRes">
      {{errorRes}}
  </span>

  <div class="login">
    <input class="single-field" type="password" formControlName="password" placeholder="введите новый пароль">
    <!--    <span class="field-error" *ngIf="form.get('username').touched ">-->
    <!--      Please enter a valid username-->
    <!--    </span>-->
  </div>

<!--  <div class="registration">-->
<!--    <input class="single-field" type="password" formControlName="password2" placeholder="подтвердите  пароль">-->
<!--&lt;!&ndash;        <span *ngIf="form.get('password2') !== form.get('password1')">&ndash;&gt;-->
<!--&lt;!&ndash;          Please correct password&ndash;&gt;-->
<!--&lt;!&ndash;        </span>&ndash;&gt;-->
<!--  </div>-->

  <button class="submit-btn" type="submit" >Создать</button>
</form>
