
<!--<h2 class="create-acc">Create An Account</h2>-->
<!--<form class="login-form" [formGroup]="form" (ngSubmit)="submit()">-->
<!--  <span *ngIf="errorRes">-->
<!--      {{errorRes}}-->
<!--  </span>-->
<!--  <div class="login">-->
<!--    <input class="single-field" type="text" formControlName="username" placeholder="username">-->
<!--&lt;!&ndash;    <span class="field-error" *ngIf="form.get('username').touched ">&ndash;&gt;-->
<!--&lt;!&ndash;      Please enter a valid username&ndash;&gt;-->
<!--&lt;!&ndash;    </span>&ndash;&gt;-->
<!--  </div>-->
<!--  <div class="login">-->
<!--    <input class="single-field" type="email" formControlName="email" placeholder="email">-->
<!--&lt;!&ndash;    <span class="field-error" *ngIf="form.get('email').invalid || form.get('email').touched ">&ndash;&gt;-->
<!--&lt;!&ndash;      Please enter a valid email&ndash;&gt;-->
<!--&lt;!&ndash;    </span>&ndash;&gt;-->
<!--  </div>-->
<!--  <div class="registration">-->
<!--    <input class="single-field" type="password" formControlName="password" placeholder="password">-->
<!--&lt;!&ndash;    <span *ngIf="form.get('password').touched">&ndash;&gt;-->
<!--&lt;!&ndash;      Please enter password&ndash;&gt;-->
<!--&lt;!&ndash;    </span>&ndash;&gt;-->
<!--  </div>-->

<!--  <button class="submit-btn" type="submit" [disabled]="form.invalid">Создать</button>-->
<!--</form>-->

