<div class="line-divider"></div>
<ng-container *ngIf="coments">
<div class="post-comment" *ngFor="let coment of coments">
  <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm" />
  <p><a href="timeline.html" class="profile-link">{{coment.userId}} </a>{{coment.text}}</p>
</div>
</ng-container>
<div class="post-comment">
  <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm" />
  <input type="text" class="form-control" placeholder="Post a comment" (keydown.enter)="submit()" [(ngModel)]="text">
</div>
