<div class="timeline-cover">

  <!--Timeline Menu for Large Screens-->
  <div class="timeline-nav-bar hidden-sm hidden-xs">
    <div class="row">
      <div class="col-md-3">
        <div class="profile-info" *ngIf="(infoAbooutuser$ | async) as infoUsers">
          <span *ngIf="infoUsers?.coverPicture != ''">
            <img src="http://localhost:4000/images/{{infoUsers.coverPicture}}" alt="" class="img-responsive profile-photo" />
          </span>
          <span *ngIf="infoUsers?.coverPicture == ''">
            <img src="https://www.blexar.com/avatar.png" alt="" class="img-responsive profile-photo" />
          </span>

          <h3>{{infoUsers.firstName }} {{infoUsers.lastName }}</h3>
          <p class="text-muted">{{infoUsers.position }}</p>
        </div>
        <div class="profile-info" *ngIf="!(infoAbooutuser$ | async) as infoUsers">
          <img src="https://www.blexar.com/avatar.png" alt="" class="img-responsive profile-photo" />

        </div>

      </div>
      <div class="col-md-9">
        <ul class="list-inline profile-menu">
          <li><a routerLink="/timeline" >Timeline</a></li>
          <li><a routerLink="/timeline-about">About</a></li>
          <li><a routerLink="/timeline-friends" >Friends</a></li>
        </ul>

      </div>
    </div>
  </div><!--Timeline Menu for Large Screens End-->

  <!--Timeline Menu for Small Screens-->
  <div class="navbar-mobile hidden-lg hidden-md">
    <div class="profile-info" *ngIf="(infoAbooutuser$ | async) as infoUsers">
      <img src="http://localhost:4000/images/{{infoUsers.coverPicture}}" alt="" class="img-responsive profile-photo" />
      <h4>{{infoUsers.firstName }} {{infoUsers.lastName }}</h4>
      <p class="text-muted">{{infoUsers.position }}</p>
    </div>
    <div class="mobile-menu">
      <ul class="list-inline">
        <li><a routerLink="/timeline" >Timeline</a></li>
        <li><a routerLink="/timeline-about">About</a></li>
        <li><a routerLink="/timeline-friends" class="active">Friends</a></li>
      </ul>
    </div>
  </div><!--Timeline Menu for Small Screens End-->

</div>
