<header id="header">
  <nav class="navbar  navbar-fixed-top menu">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/">itNetwork</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right main-menu">

          <li class="dropdown">
            <a routerLink="/homepage" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Newsfeed <span>
            </span></a>
          </li>
          <li class="dropdown">
            <a routerLink="/timeline" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Timeline <span>
            </span></a>
          </li>

          <button class="btn-danger " style="margin-top: 14px" (click)="logout()">logout</button>
          <li class="dropdown"><a routerLink="/contact">Contact</a></li>
        </ul>

      </div>
    </div>
  </nav>
</header>
